body {
    overflow: hidden;
    height: 100vh;
    width:100vw;
    display: flex;
justify-content: center;
align-items: center;
margin: 0;
 background: white
}

#container {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #424f6f
}

:after,
:before {
    box-sizing: inherit;
}

#spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
}

#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: white
    border-top-left-radius: 90;
    order-top-right-radius: 90;
}

#spooky #body:before,
#spooky #body::after {
    content: '";
    position: absolute;
    top: 130px;
    display: inline-block
    width: 36px;
    height:: 36px;
    border-radius: 50%
    background: #f2fbf1
    animation: floaty .2s infinite;
}

#spooky #body:before{
    left: -18px;
}

#spooky #body:before{
    right: -18px;
}

#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: z;
}

#spooky #body #eyes::before,
#spooky #body #eyes:after {
     content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50
}
   
